@model IEnumerable<Room_Booking.Models.Room>

@{
    ViewData["Title"] = "Search for available rooms";
}

<form asp-controller="Room" asp-action="Index" method="get">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Search for room</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        Number of beds: <input type="text" name="numberOfBeds" />
                    </div>
                    <div class="col-4">
                        Room Size: <input type="text" name="roomSize" />
                    </div>
                    <div class="col-4">
                        Room Quality: <input type="text" name="roomQuality" />
                    </div>
                    <div class="col-4">
                        <br />
                        <input type="submit" value="Search" />
                        <a asp-action="Index">Get All Rooms</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border p-3">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfBeds)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomSize)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoomQuality)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Available)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfBeds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomQuality)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        <a asp-action="ReserveRoom" asp-route-id="@item.Id">Reserve Room</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</form>